* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}


/* cabeçalho */
header {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #f1f1f1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

header img{
    width: 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}


footer {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    height: auto;
    width: 100%;
}


footer p {
    margin-left: 4%;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50px;
    padding: 20px 20px 20px;
    width: 33%
    

}

footer a {
    text-decoration: none;
    background-color: #000000;
    color: white;
    margin: 50px 12px 50px;
    margin-left: 5%;

  
}

footer h1 {
    margin-left: 5%;
    margin-top: 0px;

}

.bt-cadastro {
    background-color: #000000;
    padding: 8px 8px 8px;
    border-radius: 25px;
    color: #ffffff;
}

.logo img {
    width: 10%;
}



nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 90%;
    transition: 0.8s;
}

nav ul li a:hover {
    color: #007bff;
    transform: scale(1.1);
}

/* Banner */
.banner {
    text-align: center;
    padding: 100px 20px;
    background-color: #000;
    color:#f1f1f1;
    font-size: 40px;
}

.banner h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 20px;
    margin-bottom: 20px;
}

.bt-cadastro {
    background-color: #000000;
    padding: 8px 8px 8px;
    border-radius: 25px;
    color: #ffffff;

}

.btn-shop {
    background-color: #007bff;
    color: #f1f1f1;
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 18px;
    display: inline-block;
    transition: 0.8s;
}

.btn-shop:hover {
    background-color: #a7a7a7;
    transform: scale(1.1);
    
}


.btn-info{
    color: #f1f1f1;
    background-color: #007bff; ;
    padding: 10px 8px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    display: inline-block;
    transition: 0.8s;
}


.btn-carrinho{
    color: #f1f1f1;
    background-color: #838383; ;
    padding: 10px 8px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    transition: 0.8s;
    margin-top: 5px;
}

.btn-info:hover {
    background-color: #a7a7a7;
    transform: scale(1.1);
}

/* produtos */
.produtos_info {
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;

}

.corpo_anuncios {
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.corpo_color {
    
}

.imagen {
    background-color: white;
    width: 18%;
}
.imagen img {
    width: 100%;
}

.produtos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.produtos_top {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: auto;
    background-color: #ffffff;
    margin-bottom: 50px;
    box-shadow: 0 4px 0px rgb(0, 0, 0);
 
}

.produto {
    text-align: center;
    text-decoration: none;
    width: 15%;
    gap: 20px;
    background-color:#ffffff;
    transition: 0.5s;
    align-items: center;
    text-decoration: none;
    margin-left: 20px;
}

.produto a {
    text-decoration: none;
    color: black;
}

.produto:hover {
    transform: scale(1.05)
}


.produto img {
    width: 200px;
}

.produto h3 {
    font-size: 100%;
    text-decoration: none;
    color: black;
}

.produto p {
    margin: 10px 0;
    font-size: 100%;
    color: #007bff;
    text-decoration: none;
}

.anuncio1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center;     /* Alinha verticalmente */
    background-color: white;
}
.h1 {
    padding: 15px 20px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    border-radius: 10px;
    align-items: center;
    margin: 0px;
    margin-bottom: 5%;
}
.h2 {
    padding: 2px 2px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;

}
.p1 { 
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    text-decoration: none;

}









.infos {
    width: 12%;
    background-color: #F5F7FF;
    justify-content: space-evenly;
    align-items: center;     
    margin: 3%;
}

.infos img{
    margin-left: 36%;
    align-items: center;
}

.corpo_info {
    justify-content: center;
    display: flex;
    gap: 8%;
    background-color: #F5F7FF;   
}



.section_categoria {
    background-color: #ffffff;
    text-align: center;
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    transition: 0.6s;
}

.section_categoria:hover {
    transform: scale(0.92)

}

.section {
    display: flex;
}

.redes {
    text-decoration: none;
    width: 30px;
    transition: 0.8s;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.103);
    justify-content: space-around;
    gap: 0px;
    display: flex;
    align-items: center;
    margin: auto;  
}


.texto {
    display: flex;
    align-items: baseline;
    margin-left: 50px;
}
/*carrossel*/
.slider {
    margin: 0 auto;
    width: auto;
    height: auto;
    overflow: hidden;
}
.slides {
    width: 400%;
    height: auto;
    display: flex;
}
.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 100%;
}

.manual-navegation {
    position: absolute;
    width: 90%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border:  1px solid #000000;
    padding: 0.3%; 
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navegation-auto div {
    border: 1px solid black;
    padding: 0.3%; 
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navegation-auto {
    position: absolute;
    width: 90%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
}

.navegation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ ,.navegation-auto .auto-btn1{
    background-color: white;
}
#radio2:checked ~ ,.navegation-auto .auto-btn2{
    background-color: white;
}
#radio3:checked ~ ,.navegation-auto .auto-btn3{
    background-color: white;
}
#radio4:checked ~ ,.navegation-auto .auto-btn4{
    background-color: white;
}


.Completo {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
}

/* Camada de vinheta escura */
.background::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 2;
  pointer-events: none;
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0.589) 30%,
    rgba(0, 0, 0, 0.901) 70%,
    rgb(0, 0, 0) 100%
  );
}

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo h1 {
  color: white;
  font-size: 3em;
  text-align: center;
  text-shadow: 8px 8px 20px rgba(0, 0, 0, 0.883);
}




