* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cor de fundo */
body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    margin: 0px;
}

/* Cabeçalho */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #f1f1f1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    border-bottom: 1px solid #000000;
    margin-bottom: 2%;
}

header img{
    width: 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

header .logo h1 {
    font-size: 24px;
    font-weight: 600;
}

.cart-icon {
    position: relative;
    display: inline-block;
  }
  
  .cart-icon img {
    width: 28px; /* ou o tamanho que preferir */
    height: auto;
  }
  
  .cart-badge {
    position: absolute;
    top: -6px;   /* sobe a bolinha */
    right: -6px; /* move para o canto direito */
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
    line-height: 1;
  }
  

/* Navegação */
nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
}

nav ul li a:hover {
    color: #007bff;
    transform: scale(1.1);
}f

/* Botão de cadastro */
.bt-cadastro {
    background-color: #000000;
    padding: 8px 8px;
    border-radius: 25px;
    color: #ffffff;
}

/* Banner */
.banner {
    text-align: center;
    padding: 100px 20px;
    background-color: #000;
    color: #f1f1f1;
    font-size: 40px;
    border-radius: 50px;
    box-shadow: 0 2px 40px rgb(0, 0, 0);
}

.banner h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Produtos */
.produtos {
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    background-color: #f1f1f1;
    margin: auto;
}

.produto {
    text-align: center;
    text-decoration: none;
    width: 280px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    transition: 0.8s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produto:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.89);
    color: #57778a;
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.produto h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.produto p {
    margin: 10px 0;
    font-size: 18px;
    color: #007bff;
}

/* Alinhamento dos botões */
.alinha-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    background-color: #ffffff;
}

/* Botão de comprar */
.compra-btn button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    font-size: 16px;
    transition: 0.5s;
}

.compra-btn button:hover {
    background-color: #b4b4b4;
}

/* Botão de adicionar ao carrinho */
.carrinho-btn button {
    background-color: rgba(0, 0, 0, 0.301);
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    transition: 0.3s;
}

.carrinho-btn button img {
    width: 2rem;
    height: auto;
}

.carrinho-btn:hover {
    transform: scale(1.05);
}

/* Anúncio */
.anuncio1 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

/* Corpo dos anúncios */
.corpo_anuncios {
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    gap: 40px;
    background-color: #f1f1f1;
}

/* Categorias */
.categorias {
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    background-color: #f1f1f1;
}

.section_categoria {
    background-color: #f1f1f1;
    text-align: center;
    width: 200px;
    padding: 11px 4px 4px;
    border-radius: 90px;
    transition: 0.6s;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.800);
}

.section_categoria:hover {
    transform: scale(0.8);
}

.section {
    display: flex;
    background-color: #007bff;
}

/* Carrossel de produtos */
.produtos-carrossel-container {
    max-width: 80%;
    margin: 60px auto;
    position: relative;
    padding: 20px;
}

.titulo-secao {
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
}

.produtos-carrossel-wrapper {
    position: relative;
    overflow: hidden;
}

.produtos-carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
}

.btn-carrossel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.anterior {
    left: 0;
}

.proximo {
    right: 0;
}

/* Oferta especial */
.oferta_especial {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

/* Rodapé */
footer {
    background-color: #2f2f2f;
    color: #fff;
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section {
    flex: 1 1 200px;
    text-align: center;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-section p,
.footer-section a {
    font-size: 14px;
    margin: 5px 0;
}

.footer-section a {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section a:hover {
    color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {


    .logo{ 
        width: 15%;
    }

    .logo img{ 
        width: 3rem;
    }

    .produtos, .produtos_top {
        gap: 10px;
    }

    .produto {
        flex: 1 1 30%;
        max-width: 30%;
    }

    .produto h3 {
        font-size: 18px;
    }
    .produto img {
        width: 100%;
    }

    .produto p {
        font-size: 14px;
    }

    .botoes-produto {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 8px;
    }

    .add-to-cart {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #005fc5;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px 12px 10px;
        gap: 8px;
    }

    header {
        padding: 20px;
    }

    nav ul {
        gap: 10px;
    }

    nav ul li a {
        font-size: 14px;
    }


    footer {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .produtos, .produtos_top {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
    }
    
    .categorias {
        width: 100%;
        height: 2rem;
    }
    .section_categoria {
        display: flex;
        justify-content: center;
        width: 16.66%;
        height: 2rem;
    }
    .section_categoria a h1 { 
        font-size: 0.5rem;
    }

    /* 3 produtos por linha */
    .produto {
        flex: 1 1 calc(33% - 20px);
        max-width: calc(33% - 20px);
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .produto h3 {
        font-size: 12px;
    }

    .produto p {
        font-size: 12px;
    }

    /* Botões lado a lado */
    .botoes-produto {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }

    /* Ícone do carrinho no botão */


    .add-to-cart img {
        width: 22px;
        height: 22px;
    }
    .produtos button img{
        width: 15px;
    }


    .btn-info {
        width: 50px;
        font-size: 8px;
    }

    .ver-detalhes {
        background-color: #1a1a1a;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 12px;
        cursor: pointer;
        transition: 0.3s;
    }

    .ver-detalhes:hover {
        background-color: #333;
    }

    header {
        display: flex;
        padding: 15px;
    }

    nav ul {
        gap: 5px;
    }

    nav ul li a {
        font-size: 12px;
    }

    footer {
        flex-direction: column;
        gap: 10px;
    }
}