* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #f0f4f8, #d8e2e7); /* Gradiente suave do topo para baixo */
  color: #333;
}
  
  h1 {
    color: #000;
    font-size: 1.5em;
  }
  
  p {
    color: #333;
    margin-bottom: 30px;
  }
  
  .form-container {
    background: #F5F7FF;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .form-container p {
    font-size: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  label {
    margin-top: 15px;
    font-weight: bold;
    color: #222;
  }
  
  input {
    border: none;
    border-bottom: 1px solid #000;
    padding: 8px;
    background: transparent;
    outline: none;
    font-size: 14px;
  }
  
  button {
    margin-top: 25px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    align-self: center;
  }
  
  button:hover {
    background-color: #0056b3;
  }

/* Cabeçalho */
header {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #ffffff; /* Fundo branco para o cabeçalho */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra mais sutil */
  transition: 0.5s;
}

header img {
  width: 25px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

footer {
  background-color: #2f2f2f; /* Fundo escuro para o rodapé */
  color: #ffffff;
  font-size: 14px;
  height: auto;
  width: 100%;
  padding: 20px 0;
}

footer p {
  margin-left: 4%;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 50px;
  padding: 15px 20px;
  width: 33%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

footer a {
  text-decoration: none;
  background-color: #000000;
  color: white;
  margin: 50px 12px 50px;
  margin-left: 5%;
  padding: 10px 20px;
  border-radius: 30px;

}

footer h1 {
  margin-left: 5%;
  margin-top: 0px;
}


.bt-cadastro {
  background-color: #000000;
  padding: 10px 20px;
  border-radius: 25px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s;
}

.bt-cadastro:hover {
  background-color: #333;
}

.logo img {
  width: 10%;
}

/* Navegação */
nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}

nav ul li a:hover {
  color: #007bff;
  transform: scale(1.1);
}
.corpo_anuncios {
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  
}
.section_cadastro {
  display: flex;
}

.btn-cadastro {
  padding: 15px 40px 15px;
  background-color: #0156FF;
  color: white;
  text-decoration: none;
  border-radius: 40px;

}


  